# Virtual environments
.venv/
venv/

# Python cache folders anywhere in the project
**/__pycache__/
*.py[cod]

# VS Code Code Runner temporary files
*.tempCodeRunnerFile
tempCodeRunnerFile*

#database
facilityData.db
test_floor_change.py